html {
    height: 100%;
}

body {
    height: auto;
    padding-top: 50px;
    min-width: 320px;
    margin: 0;
    font-family: 'Open Sans', "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
    background-color: #1A1A1A;
}

.container {
    width: 60%;
    padding-right: 0;
    padding-left: 0;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.radio-inline {
    padding-left: 40px;
    font-size: 1.5em;
}

input[type=checkbox], input[type=radio] {
    margin: 6px 0 0;
    width: 15px;
    height: 15px;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
    padding: 8px 0;
    border-left: 1.5px solid rgba(0, 0, 0, .15);
    min-width: 190px;
    animation: move-menu 0.3s linear;
    -webkit-animation: move-menu 0.3s linear; /* Safari 和 Chrome */
}

@keyframes move-menu {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes move-menu {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.navigation {
    position: relative;
    left: -40%;
    width: 180%;
}

.navbar-collapse {
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: #000000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #000000;
}

.logo {
    background-color: #141414;
    padding: 2em 0;
}

.logo h1 {
    font-size: 3em;
    font-weight: 500;
    text-shadow: 2px 2px 3px #000000;
    color: #ffffff;
    letter-spacing: 0.5em;
}

.container-fluid {
    padding: 0 25% 0 25%;
}

.navbar {
    border-radius: 0;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #9d9d9d;
    background-color: transparent
}

.navbar-header-login span {
    margin: 0 5px 0 0;
}

.dropdown-menu span {
    margin-right: 8px;
}

p.home {
    padding: 0.7em 0.9em;
    background: #e6e6e6;
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

p.home a {
    text-decoration: none;
    display: block;
    width: 6%;
    float: left;
}

.bar-content, .pie-content {
    margin: 2em 0;
    background-color: #1B242F;
    position: relative;
    width: 100%;
    height: 70%;
}

.bar, .pie {
    width: 100%;
    height: 100%;
}

.alert-close {
    background: url('../images/into.png') no-repeat 0px 0px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: absolute;
    right: 22px;
    top: 22px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    z-index: 1;
}

.quest-panel {
    margin: 2em 0;
    border-radius: 0;
}

.quest-content {
    margin: 2em 0;
}

.form-control, .form-group-lg .input-lg {
    border-radius: 0;
}

/*-- responsive-design starts-here --*/
body.register, body.login {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register-box, .login-box {
    display: none;
}

.login-top {
    padding: 0;
    margin: 20% 33.333% 0 33.333%;
}

.login-img {
    width: 140px;
    height: 140px;
}

.register-form, .login-form {
    padding: 0 20%;
}

.login-buttom {
    padding: 0;
    margin: 3% 33.33% 30% 33.33%;
}

.register-buttom {
    padding: 0;
    margin: 20% 33.333% 30% 33.333%;
}

.form-group.form-group-lg.has-error.has-feedback {
    margin-bottom: -5px;
}

.register-remove {
    display: none;
    margin: 0 0 0 90%;
    padding: 0;
    color: #d9534f;
    position: relative;
    top: -31px;
    font-size: 18px;
}

.login-failed {
    display: none;
    padding: 0;
    margin: 5% 33.333% 30% 33.333%;
}

.login-failed p {
    color: whitesmoke;
    font-size: 18px;
}

.quest-panel {
    min-height: 900px;
}

.form-horizontal {
    padding-left: 5%;
    padding-right: 5%;
}

.quest-submit {
    margin-left: 45%;
}

.question {
    background-color: whitesmoke;
    border: 1px solid grey;
    margin: 5% 20%;
    padding: 10%;
}

.question {
    width: 60%;
    height: 50%;
}

.quest-option {
    padding: 8% 10%;
}

.quest-option button {
    padding: 2% 8%;
}

.btn-primary {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-primary.focus, .btn-primary:focus {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-success {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-success.focus, .btn-success:focus {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-success:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    color: #1B242F;
    background-color: lightgrey;
    border-color: #000000
}

.intro1-content {
    margin: 5% 10% 2% 10%;
}

.intro1-content h1 {
    margin-bottom: 3%;
    color: #ffffff;
    text-align: center;
}

.intro1-content h3 {
    line-height: 35px;
    color: #ffffff;
    text-align: center;
}

.introduction1 h3 {
    line-height: 35px;
    color: #ffffff;
    text-align: center;
}

.intro2-content {
    margin: 5% 5% 2% 5%;
}

.intro2-content h1 {
    margin-bottom: 3%;
    color: #ffffff;
    text-align: center;
}

.intro2-content h3 {
    line-height: 35px;
    color: #ffffff;
    text-align: center;
}

.introduction2 h3 {
    line-height: 35px;
    color: #ffffff;
    text-align: center;
}

.introduction2 h3 span {
    font-size: larger;
    margin: 0 2% 0 2%;
}

.toggle-intro{
    display: none;
}

@media screen and (max-width: 1440px) {
    .login-buttom {
        padding: 0;
        margin: 3% 25% 30% 25%;
    }

    .register-buttom {
        margin: 30% 25% 30% 25%;
    }

    p.home {
        padding: 0.7em 0.5em;
    }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        padding: 5px 4px;
        margin: 0 4px 0 0;
    }

    .intro1-content {
        margin: 4% -2% 1% -2%;
    }

    .intro2-content {
        margin: 5% 0 1% 0;
    }
}

@media screen and (max-width: 1366px) {
    .total-content {
        margin: 3em 2em;
    }

    .side-bar {
        margin-right: 2%;
    }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        font-size: 0.875em;
    }

    .intro1-content {
        margin: 4% -5% 1% -5%;
    }

    .intro2-content {
        margin: 5% -6% 1% -6%;
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

    .container {
        width: 80%;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 10px 25px;
    }

    .col-md-1 {
        width: 10%;
    }

    .col-md-offset-1 {
        margin-left: 10%;
    }

    .container-fluid {
        padding: 0 5% 0 5%;
    }

    .register-form {
        padding: 5% 10%;
    }

    .logo a img {
        width: 68%;
    }

    .logo {
        padding: 2.5em 0;
    }

    .login-top {
        margin: 20% 33.333% 5% 33.333%;
    }

    .login-buttom {
        margin: 3% 15% 30% 15%;
    }

    .register-buttom {
        margin: 20% 25% 30% 25%
    }

    .register-remove {
        margin: 0 0 0 92%;
        top: -30px;
        font-size: 16px
    }

    .quest-option {
        padding: 8% 0;
    }

    .quest-option button {
        padding: 2% 10%;
    }

    .bar-content, .pie-content {
        margin: 2em 0;
        background-color: #1B242F;
        position: relative;
        width: 100%;
        height: 60%;
    }

    .btn-primary {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-primary:hover {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #000000;
        border-color: #000000
    }

    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-success {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-success.focus, .btn-success:focus {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-success:hover {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

    .btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
        color: #fff;
        background-color: #000000;
        border-color: #000000
    }

    .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
        color: #1B242F;
        background-color: lightgrey;
        border-color: #000000
    }

}

@media screen and (max-width: 768px) {
    .col-xs-1 {
        width: 13%;
    }

    .col-xs-offset-1 {
        margin-left: 13%;
    }

    .logo a img {
        width: 20%;
    }

    .logo {
        padding: 2em 0;
    }

    .login-buttom {
        margin: 3% 10% 30% 10%;
    }

    .register-buttom {
        margin: 20% 20% 30% 20%;
    }

    .question {
        margin: 5% auto;
        width: 70%;
        height: 50%;
    }

    .quest-option {
        padding: 8% 5%;
    }

    .quest-option button {
        padding: 2% 10%;
    }
}

@media screen and (max-width: 640px) {
    .logo a img {
        width: 24%;
    }

    .logo {
        padding: 1.8em 0 1.4em 0;
    }

    p.home {
        font-size: 1.1em;
    }

    p.home a {
        width: 8%;
    }

    p.home a {
        margin-top: -1.2px;
    }

    .login-top {
        margin: 40% 20% 10% 20%;
    }

    .login-buttom {
        margin: 0 -10px 30% -10px;
    }

}

@media screen and (max-width: 480px) {

    html {
        width: 100%;
        height: 100%;
    }

    .logo {
        padding: 1em 0 1em 0;
    }

    .logo h1 {
        font-size: 2em;
        font-weight: 500;
        text-shadow: 2px 2px 3px #000000;
        color: #ffffff;
        letter-spacing: 3px;
    }

    .container {
        width: 100%;
    }

    .navbar-fixed-top {
        width: 100%;
        left: 0;
        right: 0;
    }

    .col-xs-1 {
        width: 20%;
    }

    .col-xs-offset-1 {
        margin-left: 20%;
    }

    .calender-right {
        width: 100%;
    }

    .logo a img {
        width: 30%;
    }

    p.home a {
        margin-top: -1px;
        width: 11%;
    }

    body.register, body.login {
        background: url("../images/phonebg.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }

    .register-box, .login-box {
        display: block;
        animation: move-box 0.3s linear;
        -webkit-animation: move-box 0.3s linear; /* Safari 和 Chrome */
    }

    @keyframes move-box {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }

    @-webkit-keyframes move-box {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    .login-top {
        padding: 0;
        margin: 20% 20% 8% 20%;
    }

    .login-img {
        width: 100px;
        height: 100px;
    }

    .login-buttom {
        padding: 0;
        margin: 5% 12% 30% 12%;
    }

    .register-buttom {
        margin: 40% 20% 30% 20%;
    }

    .register-remove {
        display: none;
        margin: 0 0 0 88%;
        padding: 0;
        color: #d9534f;
        position: relative;
        top: -21px;
    }

    .control-label {
        margin-top: 3px;
    }

    .form-group-lg .form-control {
        height: 30px;
        padding: 10px 5px;
        font-size: 18px;
        line-height: 1.3333333;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 5px 13px;
        font-size: 14px;
        line-height: 1.3333333;
    }

    .question {
        margin: 5% auto;
        width: 80%;
        height: 50%;
    }

    .quest-option {
        padding: 8% 0%;
    }

    .quest-option button {
        padding: 3% 10%;
    }

    .intro1-content {
        margin: 10% 2% 1% 2%;
    }

    .intro1-content h1 {
        font-size: 20px;
        margin-bottom: 3%;
        color: #ffffff;
        text-align: center;
    }

    .intro1-content h3 {
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
    }

    .toggle-intro{
        text-align: center;
        color: white;
        font-size: 20px;
        display: block;
    }

    .intro2-content {
        display: none;
        margin: 5% 5% 2% 5%;
    }

    .intro2-content h1 {
        font-size: 20px;
        margin-bottom: 3%;
        color: #ffffff;
        text-align: center;
    }

   .intro2-content h3 {
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
    }

    .introduction2 h3 {
        margin: 0 20%;
        line-height: 35px;
        color: #ffffff;
        text-align: center;
    }

    .introduction2 h3 span {
        font-size: larger;
        margin: 0 2% 0 2%;
    }

    .intro1-content {
        display: none;
        margin: 5% 5% 2% 5%;
    }

    .intro1-content h1 {
        font-size: 20px;
        margin-bottom: 3%;
        color: #ffffff;
        text-align: center;
    }

    .intro1-content h3 {
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
    }

    .introduction1 h3 {
        margin: 0 20%;
        line-height: 35px;
        color: #ffffff;
        text-align: center;
    }

    .introduction1 h3 span {
        font-size: larger;
        margin: 0 2% 0 2%;
    }

}

@media screen and (max-width: 320px) {
    html {
        width: 320px;
        height: 480px;
    }

    body {
        width: 320px;
        height: 480px;
    }

    .logo a img {
        width: 38%;
    }

    .logo {
        padding: 1.5em 0 1.1em 0;
        margin-bottom: 2.5em;
    }

    p.home a {
        margin-top: -1.1px;
        width: 19%;
    }

    .calender-right h3 {
        margin-left: 1em;
        margin-bottom: 01em;
        font-size: 1.7em;
    }

    .calender-right {
        padding: 2.5em 0em 1em 0em;
    }

    .question {
        margin: 5% auto;
        width: 90%;
        height: 50%;
    }

    .quest-option {
        padding: 8% 10%;
    }

    .quest-option button {
        padding: 10px 30px;;
    }
}
